<div class="row">
  <div class="container">
    <div class="card">
        <h5 class="card-title">app-employe</h5>
      <div class="card-body">
        <p>
          empById : {{ empById }}
          <br>
          empById.prenom : {{ empById.prenom }}
          <br>
          empById.nom : {{ empById.nom }}
        </p>
        <input [(ngModel)]="id" />
        <br>
        <button type="button" class="btn btn-success" (click)="getEmployeById(id)">get by id</button>

        <h5 style="color:gray">Liste des employes</h5>
        <br>
        employes d'une liste d'employes
        <table border="1">
          <thead class="thead-light">
            <th>Nom</th>
            <th>Prenom</th>
          </thead>
          <tr *ngFor="let employe of employes">

            <td>{{ employe.nom }}</td>
            <td>{{ employe.prenom }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>